<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
            <title>보미의 게시판</title>
    </head>
    <body>
        <h1 align = "center">게시글 작성</h1>
        <hr>
    <body>
        <form action="/write" method='post'>
            <p>
                <td>이름</td>
                <input type="text" name="username" placeholder="이름을 입력해주세요.">
            </p>
            <p>
                <td>제목</td>
                <input type="text" name="title" placeholder="제목을 입력해주세요.">
            </p>
            <p>
                <td>내용</td>
                <input type="text" name="detail" placeholder="내용을 입력해주세요.">
            </p>
                <input type="submit" name="submit" value="등록하기" onclick="location.href='/1'">
            </p>
        </form>
    </body>
</html>
